*{margin: 0;padding: 0;}
/*INFO*/
.info {
	background-color: #007EC9;
	font-family: 'Roboto', sans-serif;
	color:white;
	font-size: 15px;
}

.social a{
	padding-right: 5px;
}

.social i{
	color:white;
	border-radius: 50%;
}
.social i.fa-youtube-play{
    background: #ca3737 none repeat scroll 0 0;
    padding: 5.5px 5.4px 4.5px 5.9px;
	}
.social i.fa-facebook{
    background: #4e71a8 none repeat scroll 0 0;
    padding: 7px 9px 4px;
}
.social i.fa-google-plus{
	background: #e3411f none repeat scroll 0 0;
    padding: 5.4px 2.5px 4.5px 4.5px;
}
/*END INFO*/

/*BANNER*/
.banner{
	
	background-color: #F2F6F8;
}

.logo{
	width: 110px;
}
.logo-text{
	display: inline-block;
}
.logo-text h1 {
font-family: UTM-American-Sans;
	color:#007EC9;
	font-size: 30px;
    letter-spacing: 1px;
}
.logo-text p {
	color:#909090;
	line-height: 10px;
	padding-top: 1px;
}

	/* -- header search*/
	form.header-search{
		margin-top: 35px;
	}

	form.header-search input[type=text] {
	  padding: 10px;
	  font-size: 17px;
	  border: 1px solid #E2E2E2;
	  float: left;
	  width: 80%;
	  background: #f1f1f1;
	  color:#999999;
	  
	}

	form.header-search button {
	  float: left;
	  width: 20%;
	  padding: 10px;
	  background: #2196F3;
	  color: white;
	  font-size: 17px;
	  border: 1px solid #2196F3;
	  border-left: none; /* Prevent double borders */
	  cursor: pointer;
	}

	form.header-search button:hover {
	  background: #0b7dda;
	}

	form.header
	-search::after {
	  content: "";
	  clear: both;
	  display: table;
	}
	/* -- end header search*/
/*END BANNER*/

/*MENU*/
	/*-- icon menu*/
	.bar1, .bar2, .bar3 {
	    width: 35px;
	    height: 5px;
	    background-color: #0D6DAC;
	    margin: 6px 0;
	    transition: 0.4s;
	}

	.change .bar1 {
	    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
	    transform: rotate(-45deg) translate(-9px, 6px);
	}

	.change .bar2 {opacity: 0;}

	.change .bar3 {
	    -webkit-transform: rotate(45deg) translate(-8px, -8px);
	    transform: rotate(45deg) translate(-8px, -8px);
	}
	/*-- end icon menu*/
.menu-icon {
    display: inline-block;
    cursor: pointer;
}
.menumb-icon {
    float: right;
    margin-top: 35px;
    display: none;
    cursor: pointer;
}

.menu {
	background-color: #0D6DAC;
}
.menu ul li a {
	font-size: 16px;
    font-family: 'Roboto Slab', serif;
	color: white !important;
	padding: 0 20px;
}
.menu .collapse > ul > li {
		 background: url(file:///C:/Users/PC/Desktop/xampp1/htdocs/bandienthoai/image/bd_menu.png) no-repeat right top ;
}

.menu ul li:hover a span {
border-bottom: 2px solid white;

}

.menu ul li ul {
	top: 90%;
	background-color: #0D6DAC;
}

.menu ul li ul li a:hover{
	background-color: #2e86c7 !important;
}


/*END MENU*/

/*CONTENT LEFT*/
	.danhmuc{
	font-family: 'Roboto Condensed', sans-serif;
	}

	.title-danhmuc{
		background-color: #0D6DAC !important;
		border-color: #0D6DAC !important;
		font-family: 'Roboto Condensed', sans-serif;
	}
	.parent {
		font-size:16px;
	}

/*END CONTENT LEFT*/



/*CONTENT RIGHT*/

.content-right .title {
border-bottom: 3px solid #dadada;
padding: 0;
}
.content-right .title h3 a{
	color: #383737;
    font-family: 'Roboto Condensed', sans-serif;
	font-size: 22px;
	font-weight: bold;
	text-decoration: none;
    border-bottom: 3px solid red;
    margin-bottom: -3px;
    padding-bottom: 8px;
}
.title-chongtham a{
	color:#232323;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
}

.title-tintuc{

}
.title-tintuc a{
	color:#232323;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
}
.img-tintuc{
	width: 35%;
	float: left;
}
.mota-tintuc{
	width: 64%;
	float: right;
}
.tintuc {
	height: 180px;
}

/*END CONTENT RIGHT*/









.footer{
	background-image: url("../images/footer.png");
	color:#d0d8f7db;
}










/*GIOI THIEU CONG TY - TRANG CHU*/
.gioithieu{
	padding: 50px 0;
	background: url("../images/bg-about.png") no-repeat 0 0;
	background-size: cover;
}
.title-heading-introduce{
	color: #FAFAFA;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 24px;
	letter-spacing: 0.8px;
}
.introduce-left h3{
    font-family: UTM-American-Sans;
    font-size: 27px;
    letter-spacing: 0.9px;
    line-height: 38px;
    margin-bottom: 20px;
}
.introduce-left a {
	text-decoration: none;
	color: #ffffff;
}
.introduce-left p {
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}
.btn-detail {
	font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #FFFFFF;
    letter-spacing: 0.5px;
    line-height: 20px;
    padding: 13px 24px;
    background: #007EC9;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    display: inline-block;
    text-transform: uppercase;
}
.btn-detail:hover {
	background: #fff;
    color: #007EC9;
    border: 1px solid #007EC9;
}

section.chongtham{
	margin-top: 40px;
    border-bottom: 4px solid #dadada;
    display: block;
    padding-bottom: 10px;
    position: relative;
}




.footer{
	font-family: 'Source Sans Pro', sans-serif;
	color: #fff;
	font-size: 18px;
}
.footer a{
	text-decoration: none;
	color: #fff;
}
/*REPOSIVE*/
@media only screen and (max-width: 1403px) {

}

@media only screen and (max-width: 1240px) {

}

@media only screen and (max-width: 1100px) {

}

@media only screen and (max-width: 1024px) {
	.logo-text h1{
		font-size: 20px;
	}
}
@media only screen and (min-width: 1024px) {
	.dropdown:hover>.dropdown-menu {
	  display: block;

	}
}

	
@media only screen and (max-width: 980px) {
	
}

@media only screen and (max-width: 955px) {

}

@media only screen and (max-width: 880px) {

}

@media only screen and (max-width: 800px) {

}

@media only screen and (max-width: 780px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 740px) {

}

@media only screen and (max-width: 720px) {

}

@media only screen and (max-width: 640px) {

}

@media only screen and (max-width: 620px) {

}

@media only screen and (max-width: 600px) {
	.logo-text {
		display: none;
	}
	.header-search{
		display: none;
	}
	.slide{
		display: none;
	}
	.danhmuc{
		display: none;
	}
	.menu-icon{
		display: none;
	}

	.menumb-icon{
		display: inline-block;
	}
	.introduce-right-img {
		display: none;
	}
	.social {
		display: none;
	}
}

@media only screen and (max-width: 568px) {
	
}

@media only screen and (max-width: 563px) {

}

@media only screen and (max-width: 549px) {

}

@media only screen and (max-width: 534px) {

}

@media only screen and (max-width: 480px) {

}

@media only screen and (max-width: 360px) {

}

@media only screen and (max-width: 338px) {

}

@media only screen and (max-width: 330px) {

}

@media only screen and (max-width: 320px) {

}